<h1>Welcome to Battle</h1>
<h3>Enter player names to begin</h3>
<form action=/names method='post'>
  Player 1:
  <input type='text' name='player_1'>
  Player 2:
  <input type='text' name='player_2'>
  <input type='submit' value='Create Player'>
</form>
